# =========================
# Visual Studio / VS Code
# =========================
.vs/
.vscode/
.idea/

# Visual Studio cache
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx
*.sqlite
*.opendb
*.VC.db
*.VC.VC.opendb

# Rider
*.DotSettings.user

# =========================
# Build Results
# =========================
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

# =========================
# Logs / Temp
# =========================
[Ll]og/
[Ll]ogs/
[Tt]emp/
*.log
*.tmp
*.cache
*.pdb

# =========================
# Test Results
# =========================
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# =========================
# NuGet
# =========================
packages/
*.nupkg
*.snupkg

# =========================
# Node.js / Frontend
# =========================
node_modules/
wwwroot/dist/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Dumps
# =========================
*.stackdump
*.dmp